In [1]:
# Import of needed library
import pandas as pd

# Import the data
url = 'https://raw.githubusercontent.com/JakubPyt/Demographic_Data_Analyzer/main/adult.data.csv'
data = pd.read_csv(url, sep=";")

# Display first five rows of dataset
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
a = data.race.value_counts()
print('Race wise count:\n',a)

Race wise count:
 race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [9]:
b = round(data[data['sex']=='Male'].age.mean(),1)
print('Average Age Of Men:',b)

Average Age Of Men: 39.4

In [26]:
c = round(data[data['education']=='Bachelors'].education.value_counts().sum() * 100 / data.shape[0],1)
print('Percentage of people who have a Bachelors degree:',c)

Percentage of people who have a Bachelors degree: 16.4

In [28]:
higher_education = data[data["education"].isin(["Bachelors", "Masters", "Doctorate"])]
d = round(higher_education[higher_education['salary'] == '>50K'].salary.value_counts().sum() * 100 / higher_education.shape[0],1)
print('Percentage of people with advanced education that make more than 50K:',d)

Percentage of people with advanced education that make more than 50K: 46.5

In [29]:
higher_education = data[~data["education"].isin(["Bachelors", "Masters", "Doctorate"])]
e = round(higher_education[higher_education['salary'] == '>50K'].salary.value_counts().sum() * 100 / higher_education.shape[0],1)
print('Percentage of people without advanced education that make more than 50K',e)

Percentage of people without advanced education that make more than 50K 17.4

In [32]:
min_hours = data['hours-per-week'].min()
print(' Minimum number of hours a person works per week:',f)

 Minimum number of hours a person works per week: 1

In [35]:
min_num = data[data['hours-per-week']==min_hours]

g = round(min_num[min_num['salary'] == '>50K'].salary.value_counts().sum() * 100 / min_num.shape[0],1)
print('Percentage of the people working minimum number of hours per week and have a salary of more than 50K:',g)

Percentage of the people working minimum number of hours per week and have a salary of more than 50K: 10.0

In [37]:
coun = data[data['salary'] == '>50K']['native-country'].value_counts() / data["native-country"].value_counts() * 100

max_country = coun.idxmax()
print('Country with the highest percentage of people that earn >50K:',max_country)
m = round(coun.max(),1)
print('Highest earning country percentage:',m)

Country with the highest percentage of people that earn >50K: Iran
Highest earning country percentage: 41.9

In [39]:
occ = data[(data['native-country'] == 'India') & (data['salary'] == '>50K')]['occupation'].value_counts().idxmax()
print('Most popular occupation in India with people earning >50K:',occ)

Most popular occupation in India with people earning >50K: Prof-specialty